# -------------------------------------
# Virtual Environments
# -------------------------------------
# Ignore venv folder and other virtual environments
venv/
.venv/
env/

# -------------------------------------
# Python & Compilation Files
# -------------------------------------
# Python cache files (bytecode)
__pycache__/
*.pyc

# -------------------------------------
# IDE Configurations (VS Code)
# -------------------------------------
# Ignore local VS Code configuration folder
.vscode/

# -------------------------------------
# Logging & Testing Files
# -------------------------------------
*.log
.pytest_cache/

# -------------------------------------
# Notes File
# -------------------------------------
notas.txt

# -------------------------------------
# Scripts Folder
# -------------------------------------
src/scripts

# -------------------------------------
# OS Temporary Files (Windows)
# -------------------------------------
# MS Office temporary files, etc.
*~

# -------------------------------------
# Database & Environment Files
# -------------------------------------
# SQLite database file
src/database.db

# Environment variables file
.env